body {background-color: #3a3c3b;}

.App {
  text-align: center;
}
.home {
  padding: 10px 0;
  background: url('img/bg-home.jpg') center center;
  background-size: cover;
  min-height: 92.98vh;
}

.wrapper {
  padding: 10px 0;
  background: url('img/bg-home.jpg') center center;
  background-size: cover;
  min-height: 92.98vh;
}

.required::before {
  content: ' *';
  color: red;
}

.form-control {
  background-color: #f7f5ec;
}

input[type="file"]

label .form-label {
  cursor: pointer;
}

.text-white {
  color: ivory !important;
}
.text-ivory {
  color: ivory;
}

.card {
  background-color: ivory;
}

button:active {
  outline: 0;
}

.intro {
  font-size: 1.2rem;
}

.bg-patachou {  
  background-color: #3a3c3b;
}
.bg-ivory {
  background-color: ivory;
}

.btn-send {  
  background-color: #c65000;
  color: ivory
}
.btn-send:hover {  
  background-color: #9e4000;
  color: ivory
}

.btn-choice1 {  
  background-color: #ff7b00;
  color: ivory
}
.btn-choice1:hover {  
  background-color: #cc6200;
  color: ivory
}

.btn-choice2 {  
  background-color: #de2916;
  color: ivory
}
.btn-choice2:hover {  
  background-color: #b22112;
  color: ivory
}

.btn-outline-bland { 
  border: 0
}

.btn-gotolink {
  background-color: #E9ECEF;
  color: #4f4f4f;
}
.btn-gotolink:hover {
  background-color: #969696;
  color: white;
}

ul,
li {
background-color: ivory;
}

.card-body {
border-radius: 2%;
}

.label-file {
  cursor: pointer;
  font-weight: bold;
}

.bg-profile {
  background-color: #f7f4e8;
}

input:focus, textarea:focus {
  outline: 0;
  box-shadow: 0;
  border: 0;
}